.main-aplicacion{
  height: 100vh;
  width: 100%;
  .texto-app{
    display: none;
  }
    div{
      .imagen-aplicacion{
        position: absolute;
        top: 100px;
        left: 0;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        z-index: -1;
      }
      .imagen-aplicacion2{
        display:none
      }
    }
  .texto-app{ display: none;

  }
  div {
    .apple {
     height: 50px;
     width: 200px;
     position: absolute;
     top: 500px;
     left: 200px;
     cursor: pointer;
    }

    .android {
     height: 50px;
     width: 200px;
     position: absolute;
     top: 550px;
     left: 200px;
     cursor: pointer;
    }
  }
}
  
